<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for text, link in nav_links.links %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link }}">{{ text }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="d-flex">
                {% if app.user %}
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.name }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('app_logout') }}" class="dropdown-item">Log Out</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>